<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjc.mapper.AlarmLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.zdjc.entity.AlarmLinkman">
    <result column="al_id" jdbcType="INTEGER" property="alId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="sector_id" jdbcType="INTEGER" property="sectorId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.zdjc.entity.AlarmLinkman">
    insert into alarm_linkman (al_id, member_id, sector_id, 
      status)
    values (#{alId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{sectorId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zdjc.entity.AlarmLinkman">
    insert into alarm_linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="alId != null">
        al_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="sectorId != null">
        sector_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="alId != null">
        #{alId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="sectorId != null">
        #{sectorId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>